$lightgrey: #f5f5f5;
$bright: rgb(255,255,255);
$backFooter: #ccccc;
$backFooterBot: #272727;
$fontGrey: #8d8d8d;
$fontBlack: #1f1f1f;
$fontSmallTit: #242424;
$fontSmallSubTit: #858585;
$fontPrice: #e2231a;
$fontFooterTit: #424242;
$fontFooterdes: #757575;
$fontProductdes: #A2A2A2;
$borderProduct: #DADADA;
$fontSearchProductDes: #cfcfcf;
$fontSearchProductPrice: #2d2d2d;
